@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }

  .container {
    padding: 20px;
  }

  .section {
    margin-bottom: 20px;
  }

  .section h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .section p {
    margin-top: 10px;
    font-size: 1rem;
  }

  .highlight {
    color: green;
    font-weight: bold;
  }

  .divider {
    height: 50px;
    background-color: grey;
    margin: 5px 0;
  }

  .highlighted-section {
    background-color: orange;
    padding: 10px;
    font-weight: bold;
    padding: 10px 10px;
    width: 60%;
    box-shadow:0 4px 4px;
  }
  
  /* Responsive Styles */
@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  p {
    font-size: 0.95rem;
    text-align: justify;
  }

  .divider {
    margin: 30px 0;
  }
}
